<h4 class="text-2xl m-4 font-bold dark:text-white">Repos Breadcrumb</h4>

<div class="block w-90% p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <div class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @user_file.name%></div>
    <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Programming Language: <%= @user_file.programming_language.capitalize%></div>
    <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Path: <%= @user_file.path%></div>
    <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Uploaded On: <%= @user_file.created_at.to_datetime.to_date%></div>
</div>

<div class="block w-90% p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Source Code:</h5>
    <div class="block w-90% p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
        <p class="font-normal text-xl text-gray-700 dark:text-gray-400"><%= @file_content.gsub("\n", "<br/>").gsub("    ", "&emsp;").html_safe %></p>
    </div>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Questions:</h5>
    <div class="block w-50 p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
            
            <% @user_file.gpt_model_requests.each do |request|%>
                <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-9 md:grid-cols-2">
                    <figure class="flex flex-col items-center justify-start p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
                        <figcaption class="flex items-start justify-center space-x-3">
                            <img class="rounded-full w-9 h-9" src="https://cdn-icons-png.flaticon.com/512/155/155556.png" alt="profile picture">
                            <div class="flex flex-col space-y-0.5 font-medium dark:text-white text-left">
                                <div>You asked on: <%= request.created_at.to_date %></div>
                            </div>
                        </figcaption>  
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                            <p class="my-4"><%= request.prompt %></p>
                        </blockquote>  
                    </figure>
                    <figure class="flex flex-col items-center justify-start p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg dark:bg-gray-800 dark:border-gray-700">
                        <figcaption class="flex items-start justify-center space-x-3">
                            <img class="rounded-full w-9 h-9" src="https://assets.stickpng.com/images/63c52af590250dd34bd6a9ab.png" alt="profile picture">
                            <div class="flex flex-col space-y-0.5 font-medium dark:text-white text-left">
                                <div>ChatGPT's Solution</div>
                            </div>
                        </figcaption> 
                        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                            <p class="my-4"><%= request.response.payload %></p>
                        </blockquote>   
                    </figure>
                </div>
            <% end %>


        </div>
    </div>
</div>





