<h4 class="text-2xl m-4 font-bold dark:text-white">Repos Breadcrumb</h4>

<div class="block w-90% p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <div class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @user_file.name%></div>
    <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Programming Language: <%= @user_file.programming_language.capitalize%></div>
    <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Path: <%= @user_file.path%></div>
    <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Uploaded On: <%= @user_file.created_at.to_datetime.to_date%></div>
</div>

<div class="block w-90% p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Source Code:</h5>
    <div class="block w-90% p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
        <p class="font-normal text-xl text-gray-700 dark:text-gray-400"><%= @file_content.gsub("\n", "<br/>").gsub("    ", "&emsp;").html_safe %></p>
    </div>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Questions:</h5>
    <div class="block w-50 p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <div class="block w-50 p-4 m-4 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ask a Question:</h5>


                <form action="<%= user_file_ask_question_path(@user_file.id, format: :turbo_stream) %>" method="post">
                    <label for="chat" class="sr-only">Your message</label>
                    <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                        <textarea id="chat" name="question_text" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Am I missing a semicolon..."></textarea>
                            <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                            <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
                            </svg>
                            <span class="sr-only">Send message</span>
                        </button>
                    </div>
                </form>

            </div>

            <%= turbo_frame_tag "user_file_#{@user_file.id}_previous_questions" do %>
                <%= render 'user_files/previous_question', user_file: @user_file %>
            <% end %>
        </div>
    </div>
</div>